<table>
  <tr>
    <th>Namn</th>
    <th>Färg</th>
    <th>Chakran</th>
    <th>Energier</th>
  </tr>

<% @gemstones.each do |gemstone| -%>
  <tr>
    <td><%= link_to gemstone.name, gemstone %>
    <%= link_to image_tag(gemstone.links.first.linktype.iconurl, :border=>'0'), gemstone.links.first.url if gemstone.links.presence %>
    </td>
    <td><%= gemstone.color.name if gemstone.color %></td>
    <td align="center""><%= gemstone.chakras.count if gemstone.chakras.presence %> </td>
    <td align="center""><%= gemstone.energies.count if gemstone.energies.presence %> </td>
  </tr>
<% end -%>
</table>
<br>

<%#= hidden_field_tag :direction, params[:direction] %>
<%#= hidden_field_tag :sort, params[:sort] %>
<%= paginate @gemstones %>
