<h2>Redigerar användare</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :epost %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label 'Lösenord' %> (Lämna tomt om du inte vill ändra)</i><br 
/>
  <%= f.password_field :password %></p>

  <p><%= f.label 'Lösenordsverifikation' %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label 'Nuvarande lösenord' %><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Uppdatera" %></p>
<% end %>

<%= button_to "Ta bort mitt konto", registration_path(resource_name), :confirm => "Är du säker?", :method => :delete %><br>
<%= link_to "Logga ut", destroy_user_session_path %><br>
<%= link_to "Tillbaka", :back %>
