<h1>Egenskaper</h1>

<table>
  <tr>
    <th>Namn</th>
    <th>Förälder</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @properties.each do |property| %>
  <tr>
    <td><%= property.name %></td>
    <td><%= property.parent_id %></td>
    <td><%= link_to 'Visa', property %></td>
    <td><%= link_to 'Ändra', edit_property_path(property) %></td>
    <td><%= link_to 'Radera', property, :confirm => 'Är du säker?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny Egenskap', new_property_path if can? :create, Property %>
