<p id="notice"><%= notice %></p>

<p>
  <b>Titel:</b>
  <%= @link.title %>
</p>

<p>
  <b>Url:</b>
  <%= @link.url %>
</p>

<p>
  <b>Beskrivning:</b>
  <%= @link.desc %>
</p>

<p>
  <b>Länktyper:</b>
  <%#= @link.linktype %>
</p>


<%= link_to 'Ändra', edit_link_path(@link) %> |
<%= link_to 'Tillbaka', links_path %>
