<% title "Färg" %>

<p>
  <strong>Namn:</strong>
  <%= @color.name %>
</p>
<p>
  <strong>Beskrivning:</strong>
  <%= @color.desc %>
</p>

<p>
  <%= link_to "Ändra", edit_color_path(@color) if can? :update, Color %>
  <%= link_to "Radera", @color, :confirm => 'Är du säker?', :method => :delete if can? :destroy, Color %> 
  <%= link_to "Visa alla", colors_path %>
</p>
