<p id="notice"><%= notice %></p>

<p>
  <b>Namn:</b>
  <%= @linktype.name %>
</p>

<p>
  <b>Ikonbild:</b>
  <%= @linktype.iconurl %>
</p>

<%= button_to 'Ändra', [:edit, @linktype], :method => 'get' %>
<%= button_to 'Tillbaka', linktypes_path, :method => 'get' %>
