<% title "Energi" %>

<p>
  <strong>Namn:</strong>
  <%= @energy.name %>
</p>
<p>
  <strong>Beskrivning:</strong>
  <%= @energy.desc %>
</p>

<p>
  <%= button_to "Ändra", [:edit, @energy], :method => 'get' if can? :update, Energy if can? :update, @energy %>
  <%= button_to "Radera", @energy, :confirm => 'Är du säker?', :method => :delete if can? :destroy, Energy %>
  <%= button_to "Visa alla", energies_path, :method => 'get' %>
</p>
