<h2>Bilder</h2>

<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>
<p>
  <strong>Beskrivning:</strong>
  <%= @image.beskrivning %>
</p>

<br>
<%= image_tag @image.photo.url %>

<p><table><tr>
    <td class="nobg"><%= button_to "Ändra", edit_image_path(@image), :method => :get %></td>
    <td class="nobg"><%= button_to "Radera", @image, :confirm => 'Är du säker?', :method => :delete %></td>
    <td class="nobg"><%= button_to "Visa alla", images_path, :method => :get %></td>
</tr></table>
</p>
