<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || 'Stenar' %></title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <%#<a class="brand" href="#">Sten</a>%>
          <ul class="nav">
            <li class="active"><a href="/">Stenar</a></li>
            <li><a href="/colors">F채rger</a></li>
            <li><a href="/chakras">Chakran</a></li>
            <li><a href="/energies">Energier</a></li>
            <%#<li><a href="/properties">Egenskaper</a></li>%>
            <li><a href="/images">Bilder</a></li>
            <%= raw '<li><a href="/users">Anv채ndare</a></li>' if can? :destroy, User %>
            <%= raw '<li><a href="/roles">Roller</a></li>' if can? :destroy, Role%>
            <%= raw '<li><a href="/links">L채nkar</a></li>' if can? :create, Link %>
            <%= raw '<li><a href="/linktypes">L채nktyper</a></li>' if can? :destroy, Linktype %>
            <%= raw '<li><a href="/login">Logga in</a></li>' unless current_user %>
            <%= raw '<li><a href="/logout">Logga ut</a></li>' if current_user %>
          </ul>
        </div>
      </div>
      <div class="notice"><%= flash[:notice] %></div>
      <%= content_tag :h2, yield(:title) %>
      <%= yield %>
      </div>
    </div>
  </body>
</html>
