<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || 'Stenar' %></title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
      <div class="notice"><%= flash[:notice] %></div>
      <%= content_tag :h1, yield(:title) %>
      <%= yield %>
  </body>
</html>
